.category {
	// padding: 1rem;
}

.category-content {
	--column: 1;
	display: grid;
	grid-template-columns: repeat(var(--column), minmax(0, 1fr));
	gap: var(--space-4);

	@media (width >= 376px) {
		--column: 2;
	}

	@media (width >= 1024px) {
		--column: 3;
	}
}
