<li class="order-item">
	<div>*</div>
	<p class="order-title">{{ product.title }}</p>
	<p>$/.{{ product.price }}</p>

	<div class="order-actions">
		<div class="order-add">
			<button
				class="button primary increase"
				(click)="handleAddOrder(product, 'ADD')"
			>
				<app-icon-svg iconID="plus" iconSize="xs" />
			</button>
			<p class="order-amount">{{ quantity }}</p>
			<button
				class="button default decrease"
				(click)="handleAddOrder(product, 'REMOVE')"
			>
				<app-icon-svg iconID="minus" iconSize="xs" />
			</button>
		</div>

		<button
			class="button danger remove"
			(click)="handleRemoveProduct(product.id)"
		>
			<app-icon-svg iconID="x" iconSize="xs" />
		</button>
	</div>
</li>
