.order-item {
	display: flex;
	align-items: center;
	gap: var(--space-4);
	flex-wrap: wrap;
	text-align: center;
	padding: var(--space-2);
	background: var(--gray-900);
	border-radius: var(--radii-lg);
}

.order-title {
	text-wrap: nowrap;
}

.order-actions {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: var(--space-4);
	text-align: center;
	margin-left: auto;
}
.order-amount {
	padding: var(--space-1) var(--space-2);
}

.order-add {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: var(--space-2);
}

.increase,
.decrease,
.remove {
	font-size: var(--fontSizes-2xs);
	line-height: 0;
	padding: var(--space-0-5) var(--space-0-5);
}
