<li class="product">
	<div>🎯</div>
	<p class="product__title">{{ product.getTitle }}</p>
	<p class="product__price">$/.{{ product.getPrice }}</p>

	<div class="product__action action">
		@if (order$|async; as order) {
		<div class="action__add">
			<button
				class="button primary action__increase"
				(click)="handleAddOrder(order, product, 'INCREASE')"
			>
				<app-icon-svg iconID="plus" iconSize="xs" />
			</button>

			<p class="product__amount">{{ quantity }}</p>

			<button
				class="button default action__decrease"
				(click)="handleRemoveProduct(order, product.getId, 'DECREASE')"
			>
				<app-icon-svg iconID="minus" iconSize="xs" />
			</button>
		</div>

		<button
			class="button danger action__remove"
			(click)="handleRemoveProduct(order, product.getId, 'REMOVE')"
		>
			<app-icon-svg iconID="x" iconSize="xs" />
		</button>
		}
	</div>
</li>
