<div class="right-content">
	<div>
		<form action="#" (submit)="createNewOrder()" class="form">
			<h3 class="form--title">Nuevo pedido</h3>
			<label for="client" class="form--label">Cliente</label>
			<input
				type="text"
				name="client"
				id="client"
				placeholder="Escribe el nombre del cliente"
				autocomplete="off"
				class="form--input"
				[(ngModel)]="customerName"
			/>

			<button type="submit" class="button primary form--submit">Crear</button>
		</form>
	</div>

	<hr class="rule" />

	<div class="order">
		<h3 class="title">Pedidos</h3>

		@if (orders$ | async; as orders) {

		<div class="list">
			@if(orders.length !== 0) { @for (order of orders; track order.code;) {
			<button
				class="button default"
				[id]="order.code"
				(click)="selectOrder(order.code)"
			>
				{{ order.client }}
			</button>
			} } @else {
			<p>NO hay pedidos</p>
			}
		</div>
		} @else {
		<p>No hay pedidos o sucedio un error</p>
		}
	</div>

	<hr class="rule" />

	@if (order$ | async; as order) {
	<div class="details">
		<h4 class="title">Detalles del pedido - {{ order.client }}</h4>

		@if (order.products.length !==0) {
		<app-order-list [order]="order" />

		<div class="total">
			<p>
				Total: <strong>{{ order.total | currency }}</strong>
			</p>
		</div>
		} @else {
		<div>El pedido esta vacío</div>
		}

		<footer class="footer">
			<button class="button cancel" (click)="deleteOrder(order)">
				Eliminar pedido
			</button>
			@if (order.products.length!==0) {
			<a href="/boleta" class="button pay" target="_blank">Imprimir</a>
			}
		</footer>
	</div>
	}

	<div style="margin-top: 4rem">
		{{ order$ | async | json }}
	</div>
</div>
