<div class="right--content">
	<div class="form__container">
		<form action="#" (submit)="createNewOrder()" class="form">
			<fieldset class="form__field">
				<legend class="title form__title">Nuevo pedido</legend>
				<label for="customName" class="form__label">Nombre del cliente:</label>
				<input
					type="text"
					name="customName"
					id="customName"
					tabindex="1"
					placeholder="Escribe el nombre del cliente"
					autocomplete="off"
					autofocus
					class="form__input"
					[(ngModel)]="customerName"
				/>
			</fieldset>

			<button type="submit" class="button primary form__submit">
				Crear pedido
			</button>
		</form>
	</div>

	<hr class="rule" />

	<section class="order">
		<h3 class="title">Pedidos</h3>

		@if (orders$ | async; as orders) { @if(orders.length !== 0) {
		<div class="order__list">
			@for (order of orders; track order.code;) {
			<button
				class="button default order__client--button"
				[id]="order.code"
				(click)="selectOrder(order.code)"
			>
				{{ order.client }}
			</button>
			}
		</div>
		} @else {
		<app-error-message message="No hay pedidos" />
		} } @else {
		<app-error-message message="No hay pedidos o sucedio un error" />
		}
	</section>

	<hr class="rule" />

	@if (order$ | async; as order) {
	<div class="detail">
		<h4 class="title">Detalles del pedido - {{ order.client }}</h4>

		@if (order.products.length !== 0) {
		<app-order-list [order]="order" />

		<div class="detail__total">
			<p>
				Total: <strong>{{ order.total | currency }}</strong>
			</p>
		</div>
		} @else {
		<app-error-message message="No hay productos en el pedido" />
		}

		<footer class="detail__footer">
			<button
				class="button danger detail__button--delete"
				(click)="deleteOrder(order)"
			>
				Eliminar pedido
			</button>
			@if (order.products.length!==0) {
			<a
				[routerLink]="['/boleta', order.code]"
				class="button primary detail__button--print"
				target="_blank"
			>
				Imprimir
			</a>
			}
		</footer>
	</div>
	}
</div>
