<div class="product-card" [ngClass]="addPoster(product.getCategory)">
	<p class="product-card__title">{{ product.getTitle }}</p>
	<p class="product-card__price">{{ product.getPrice | currency }}</p>
	@if (order$ | async; as order) {
	<button
		class="button primary product-card__add"
		(click)="handleAddOrder(order, product, 'ADD')"
	>
		<app-icon-svg iconID="cart" iconSize="xs" />
	</button>
	} @else {
	<button
		class="button primary product-card__add"
		(click)="handleAddOrder(null, product, 'ADD')"
	>
		<app-icon-svg iconID="cart" iconSize="xs" />
	</button>
	}
</div>
