.product-card {
	--poster: url("/assets/images/hamburger.jpg");
	--size: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	row-gap: var(--space-3);
	width: var(--sizes-full);
	height: var(--sizes-full);
	min-width: var(--size);
	padding: var(--space-4);
	text-align: center;
	border-radius: var(--radii-md);
	background-color: var(--gray-900);
	background-image: var(--poster);
	background-origin: border-box;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-blend-mode: difference;
	mask-image: radial-gradient(var(--gray-900) 40%, transparent);
	box-shadow: var(--shadow-md);

	&.drink {
		--poster: url("/assets/images/drink.jpg");
	}
	&.salad {
		--poster: url("/assets/images/salad.jpg");
	}
	&.hamburger {
		--poster: url("/assets/images/hamburger.jpg");
	}
}

.product-title,
.product-price {
	font-family: var(--heading-font);
}

.add {
	line-height: 0;
	padding: var(--space-2);
}
