<main class="main">
	<div class="container">
		<div class="left">
			<header class="left__header">
				<h1 class="left__title">Productos</h1>
			</header>

			<div class="left__categories">
				<!-- Hamburger -->
				@if (allBurgers$ |async; as allBurgers) {
				<app-categories-section
					categoryName="Hamburguesas"
					[products]="allBurgers"
				/>
				}

				<!-- Salad -->
				@if (allSalads$|async; as allSalads) {
				<app-categories-section
					categoryName="Ensaladas"
					[products]="allSalads"
				/>
				}

				<!-- Drinks -->
				@if (allDrinks$ | async; as allDrinks) {
				<app-categories-section categoryName="Bebidas" [products]="allDrinks" />
				}
			</div>
		</div>

		<div class="right">
			<app-order />
		</div>
	</div>
</main>
