/* --------------- Colors --------------- */
:root {
	--purple-50: #f2eafa;
	--purple-100: #e4d4f4;
	--purple-200: #c9a9e9;
	--purple-300: #ae7ede;
	--purple-400: #9353d3;
	--purple-500: #7828c8;
	--purple-600: #6020a0;
	--purple-700: #481878;
	--purple-800: #301050;
	--purple-900: #180828;

	--green-50: #e8faf0;
	--green-100: #d1f4e0;
	--green-200: #a2e9c1;
	--green-300: #74dfa2;
	--green-400: #45d483;
	--green-500: #17c964;
	--green-600: #12a150;
	--green-700: #0e793c;
	--green-800: #095028;
	--green-900: #052814;

	--yellow-50: #fefce8;
	--yellow-100: #fdedd3;
	--yellow-200: #fbdba7;
	--yellow-300: #f9c97c;
	--yellow-400: #f7b750;
	--yellow-500: #f5a524;
	--yellow-600: #c4841d;
	--yellow-700: #936316;
	--yellow-800: #62420e;
	--yellow-900: #312107;

	--red-50: #fff0f3;
	--red-100: #ffe2e8;
	--red-200: #ffc9d7;
	--red-300: #ff9cb6;
	--red-400: #ff6591;
	--red-500: #ff306e;
	--red-600: #f31260;
	--red-700: #cd034e;
	--red-800: #ab0649;
	--red-900: #920944;
	--red-950: #520020;

	--violet-50: #f4f2ff;
	--violet-100: #ebe7ff;
	--violet-200: #d8d2ff;
	--violet-300: #bdaeff;
	--violet-400: #9d80ff;
	--violet-500: #7f4dff;
	--violet-600: #7733ff;
	--violet-700: #6116eb;
	--violet-800: #5212c5;
	--violet-900: #4411a1;
	--violet-950: #27076e;

	--persian-blue-50: #edf9ff;
	--persian-blue-100: #d7f0ff;
	--persian-blue-200: #b9e5ff;
	--persian-blue-300: #88d7ff;
	--persian-blue-400: #50c0ff;
	--persian-blue-500: #28a0ff;
	--persian-blue-600: #1484ff;
	--persian-blue-700: #0a6aeb;
	--persian-blue-800: #0f55be;
	--persian-blue-900: #134a95;
	--persian-blue-950: #112e5a;
}

/** Light */
@media (prefers-color-scheme: dark) {
	:root {
		--gray-50: #fafafa;
		--gray-100: #f4f4f5;
		--gray-200: #e4e4e7;
		--gray-300: #d4d4d8;
		--gray-400: #a1a1aa;
		--gray-500: #71717a;
		--gray-600: #52525b;
		--gray-700: #3f3f46;
		--gray-800: #27272a;
		--gray-900: #18181b;
		--gray-950: #09090b;
	}
}

/** Dark */
@media (prefers-color-scheme: light) {
	:root {
		--gray-50: #09090b;
		--gray-100: #18181b;
		--gray-200: #27272a;
		--gray-300: #3f3f46;
		--gray-400: #52525b;
		--gray-500: #71717a;
		--gray-600: #a1a1aa;
		--gray-700: #d4d4d8;
		--gray-800: #e4e4e7;
		--gray-900: #f4f4f5;
		--gray-950: #fafafa;
	}
}
