.product {
	width: var(--sizes-full);
	height: var(--sizes-full);
	overflow: hidden;
}

.form-container {
	padding: var(--space-4);
}
.form-container-modal {
	min-width: var(--sizes-xs);
	max-width: var(--sizes-lg);
	width: var(--sizes-full);
}
.form {
	.form-fieldset {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: var(--space-4);
		padding: var(--space-6);
		background-color: var(--gray-900);
		border-radius: var(--radii-lg);
	}
	.fieldset-modal {
		flex-direction: column;
		align-items: normal;
		row-gap: var(--space-4);
		& .form-legend {
			text-align: center;
			font-family: var(--heading-font);
			font-size: var(--fontSizes-xl);
		}
	}
	.form-field {
		display: flex;
		flex-direction: column;
		column-gap: var(--space-2);
	}
	.form-label {
		flex: 1;
	}
	.label-modal {
		flex: none;
		margin-bottom: var(--space-2);
	}
	.form-input {
		padding: var(--space-2-5);
		width: var(--sizes-full);
		background-color: var(--gray-950);
		border: var(--sizes-0-5) solid var(--gray-800);
		border-radius: var(--radii-md);
		&:focus,
		&:active {
			border-color: var(--green-500);
		}
	}
	.form-select {
		appearance: auto;
	}
	.form-buttons {
		flex-direction: row;
	}

	& .form-submit,
	& .form-cancel {
		flex: 1;
	}
}

.product--content {
	padding: var(--space-4);
	overflow: hidden;
}

.product--container {
	overflow-x: auto;
	border: var(--sizes-0-5) solid var(--gray-800);
	border-radius: var(--radii-md);
}

.header {
	--columns: 4;
	display: grid;
	grid-template-columns: 100px repeat(var(--columns), minmax(0, 1fr)) 100px;
	text-align: center;
	font-family: var(--heading-font);
	font-size: var(--fontSizes-sm);
	background: var(--gray-800);
	min-width: 1000px;

	& .header-item {
		padding: var(--space-2);
	}
}

.product--list {
	max-height: var(--sizes-lg);
	overflow-y: auto;
	min-width: 1000px;
}

.product--item {
	--columns: 4;
	display: grid;
	grid-template-columns: 100px repeat(var(--columns), minmax(0, 1fr)) 100px;
	text-align: center;
	font-size: var(--fontSizes-sm);

	&:not(:last-child) {
		border-bottom: var(--sizes-0-5) solid var(--gray-800);
	}
	&:hover {
		background-color: var(--gray-900);
		transition: var(--transition-property-colors),
			var(--transition-easing-ease-in-out), var(--transition-duration-300);
	}
	& > div {
		&:not(:last-child) {
			border-right: var(--sizes-0-5) solid var(--gray-800);
		}
		padding: var(--space-2-5);
	}

	& > div:not(:first-of-type, :last-of-type) {
		text-transform: capitalize;
	}
	& .code {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	& .product-action {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: var(--space-2);
	}

	& .product-btn {
		font-size: var(--fontSizes-2xs);
		line-height: 0;
		padding: var(--space-0-5) var(--space-0-5);
	}
}

.modal {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: var(--zIndices-modal);
	background-color: rgba(0, 0, 0, 0.8);
	transform-origin: top;
	overflow: hidden;
	top: 100%;
	width: var(--sizes-full);
	height: var(--sizes-full);
	transform: translateY(100%) scale(0);
	transition: var(--transition-property-common),
		var(--transition-easing-ease-in-out), var(--transition-duration-300);
	&.open {
		top: 0;
		transform: translateY(0) scale(1);
	}
}
