.container {
  --amount: 1;
  --column-size: 300px;

  display: grid;
  grid-template-columns: repeat(var(--amount), minmax(0, 1fr));
  gap: var(--space-4);
  min-height: 100vh;

  @media (width >= 768px) {
    grid-template-columns: 1fr var(--column-size);
  }
}

.left {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-4);
  padding: 1rem;
}

.title {
  font-family: var(--heading-font);
  font-size: var(--fontSizes-2xl);
}

.category {
  padding: 1rem;
}

.category-content {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-4);
}

.item {
  padding: 0.5rem;
  height: 140px;
  width: 140px;
  background: var(--gray-900);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radii-md);
  text-align: center;
}

.button {
  padding: var(--space-2) var(--space-4);
  border-radius: var(--radii-lg);
  cursor: pointer;
  border: 1px solid currentColor;
  transition: var(--transition-property-common),
    var(--transition-easing-ease-in-out), var(--transition-duration-300);
}

.pay {
  background-color: var(--persian-blue-500);
  color: var(--gray-50);
  border-color: var(--persian-blue-500);
  &:hover {
    background-color: var(--persian-blue-600);
  }
}

.cancel {
  color: var(--red-500);
  background-color: transparent;
  &:hover {
    color: var(--red-300);
    background-color: var(--red-900);
  }
}
