<main class="">
  <div><h1>Productos</h1></div>

  <div class="container">
    <div class="left">
      <section>
        <h2 class="title">Hamburguesas</h2>

        <div class="category">
          <ul class="category-content">
            @for (burger of allBurgers; track burger.id) {
            <li class="item">{{ burger.title }} {{ burger.price }}</li>
            }
          </ul>
        </div>
      </section>

      <section>
        <h2 class="title">Ensaladas</h2>

        <div class="category">
          <ul class="category-content">
            @for (salad of allSalads; track salad.id) {
            <li class="item">{{ salad.title }} {{ salad.price }}</li>
            }
          </ul>
        </div>
      </section>

      <section>
        <h2 class="title">Bebidas</h2>

        <div class="category">
          <ul class="category-content">
            @for (drink of allDrinks; track drink.id) {
            <li class="item">{{ drink.title }} {{ drink.price }}</li>
            }
          </ul>
        </div>
      </section>
    </div>

    <div class="right">
      <h3 class="title">Pedido</h3>

      <ul></ul>

      <div>
        <p>Total:</p>
      </div>

      <footer>
        <button class="button cancel">Eliminar pedido</button>
        <button class="button pay">Imprimir</button>
      </footer>
    </div>
  </div>
</main>

<router-outlet />
