.container {
  --amount: 1;

  display: grid;
  grid-template-columns: repeat(var(--amount), minmax(0, 1fr));
  gap: var(--space-4);

  @media (width >= 768px) {
    --amount: 2;
  }
}

:root {
  --persian-blue-50: #ecf7ff;
  --persian-blue-100: #d4ebff;
  --persian-blue-200: #b2deff;
  --persian-blue-300: #7dcaff;
  --persian-blue-400: #40abff;
  --persian-blue-500: #1484ff;
  --persian-blue-600: #0060ff;
  --persian-blue-700: #0048ff;
  --persian-blue-800: #0037c4;
  --persian-blue-900: #0836a0;
  --persian-blue-950: #0a2261;
}
