<main class="">
  <div><h1>Productos</h1></div>

  <div class="container">
    <div class="left">
      <section>
        <h2 class="title">Hamburguesas</h2>

        <div class="category">
          <ul class="category-content">
            @for (burger of allBurgers; track burger.id) {
            <li class="item">
              <p>{{ burger.title }} {{ burger.price }}</p>
              <button
                class="button pay"
                (click)="handleAddOrder(burger, 'ADD')"
              >
                add
              </button>
            </li>
            }
          </ul>
        </div>
      </section>

      <section>
        <h2 class="title">Ensaladas</h2>

        <div class="category">
          <ul class="category-content">
            @for (salad of allSalads; track salad.id) {
            <li class="item">
              <p>{{ salad.title }} {{ salad.price }}</p>
              <button class="button pay" (click)="handleAddOrder(salad, 'ADD')">
                add
              </button>
            </li>
            }
          </ul>
        </div>
      </section>

      <section>
        <h2 class="title">Bebidas</h2>

        <div class="category">
          <ul class="category-content">
            @for (drink of allDrinks; track drink.id) {
            <li class="item">
              <p>{{ drink.title }} {{ drink.price }}</p>
              <button class="button pay" (click)="handleAddOrder(drink, 'ADD')">
                add
              </button>
            </li>
            }
          </ul>
        </div>
      </section>
    </div>

    <div class="right">
      <h3 class="title">Pedido</h3>

      <ul class="order">
        @for (prod of allOrderProducts; track prod.product.id) {
        <li class="order-item">
          <div>*</div>
          <p class="order-title">{{ prod.product.title }}</p>
          <p>$/.{{ prod.product.price }}</p>

          <div class="order-actions">
            <div class="order-add">
              <button
                class="button pay increase"
                (click)="handleAddOrder(prod.product, 'ADD')"
              >
                +
              </button>
              <p>{{ prod.quantity }}</p>
              <button
                class="button decrease"
                (click)="handleAddOrder(prod.product, 'REMOVE')"
              >
                -
              </button>
            </div>

            <button class="button cancel">X</button>
          </div>
        </li>
        }
      </ul>

      <div>
        <p>Total: $/. {{ total }}</p>
      </div>

      <footer>
        <button class="button cancel">Eliminar pedido</button>
        <button class="button pay">Imprimir</button>
      </footer>
    </div>
  </div>
</main>

<router-outlet />
