/* --------------- Font family --------------- */
:root {
  $heading-font: "/assets/fonts/Poppins-Regular";
  $main-font: "/assets/fonts/Manrope-Regular";

  @font-face {
    font-family: "Poppins";
    font-weight: 400;
    font-display: swap;
    src: local("Poppins"), url("#{$heading-font}.woff2") format("woff2"),
      url("#{$heading-font}.woff") format("woff"),
      url("#{$heading-font}.ttf") format("truetype");
  }

  @font-face {
    font-family: "Manrope";
    font-weight: 400;
    font-display: swap;
    src: local("Manrope"), url("#{$main-font}.woff2") format("woff2"),
      url("#{$main-font}.woff") format("woff"),
      url("#{$main-font}.ttf") format("truetype");
  }

  --heading-font: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";

  --main-font: Manrope, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}
