.dashboard {
	min-height: 100vh;
	display: grid;
	grid-template-columns: 200px 1fr;
}

.sidebar {
	background: var(--gray-900);

	& .logo {
		padding: var(--space-8) var(--space-4);
		font-size: var(--fontSizes-2xl);
		font-family: var(--heading-font);
		text-transform: uppercase;
	}

	& .menu {
		padding: 0 var(--space-2);
		display: flex;
		flex-direction: column;
		row-gap: var(--space-4);
	}

	& .menu-item {
		background-color: transparent;
		padding: var(--space-2);
		border-bottom: var(--sizes-0-5) solid var(--gray-700);
		transition: var(--transition-property-common),
			var(--transition-easing-ease-in-out), var(--transition-duration-300);
		&:hover {
			cursor: pointer;
			color: var(--green-500);
			border-color: var(--green-500);
			background-color: var(--gray-950);
		}
		&.active {
			color: var(--green-500);
			border-color: currentColor;
		}
	}
}

.container {
	background: var(--gray-950);
	overflow: hidden;
}

.content {
	position: relative;
	display: flex;
	height: 100%;
	width: 100%;
	transform: translateX(0);
	transition: var(--transition-property-common),
		var(--transition-easing-ease-in-out), var(--transition-duration-200);

	&.move {
		transform: translateX(-100%);
	}
}

.order {
	width: 100%;
	height: 100%;
	flex-shrink: 0;
	overflow: hidden;

	& .order--content {
		padding: var(--space-4);
	}

	& .order--header {
		text-align: center;
		background-color: var(--gray-800);
		font-family: var(--heading-font);
		display: grid;
		grid-template-columns: 80px repeat(6, minmax(0, 1fr));
		font-size: var(--fontSizes-sm);
		border-radius: var(--radii-md) var(--radii-md) 0 0;
		border: var(--sizes-0-5) solid var(--gray-800);
		border-bottom: 0;
		& .header-item {
			padding: var(--space-2);
		}
	}

	& .order--body {
		max-height: var(--sizes-lg);
		overflow-y: auto;
		border: var(--sizes-0-5) solid var(--gray-800);
		border-radius: 0 0 var(--radii-md) var(--radii-md);

		& .body-item {
			display: grid;
			grid-template-columns: 80px repeat(6, minmax(0, 1fr));
			text-align: center;
			font-size: var(--fontSizes-sm);

			&:not(:last-child) {
				border-bottom: var(--sizes-0-5) solid var(--gray-800);
			}
			& > div {
				&:not(:last-child) {
					border-right: var(--sizes-0-5) solid var(--gray-800);
				}
				padding: var(--space-2-5);
			}
		}

		& .code {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
	}
}

.product {
	width: 100%;
	height: 100%;
	flex-shrink: 0;
	overflow: hidden;

	.form-container {
		padding: var(--space-4);
	}
	.form-container-modal {
		min-width: var(--sizes-xs);
		max-width: var(--sizes-lg);
		width: var(--sizes-full);
	}
	.form {
		.form-fieldset {
			display: flex;
			justify-content: space-between;
			align-items: center;
			column-gap: var(--space-4);
			padding: var(--space-6);
			background-color: var(--gray-900);
			border-radius: var(--radii-lg);
		}
		.fieldset-modal {
			flex-direction: column;
			align-items: normal;
			row-gap: var(--space-4);
		}
		.form-field {
			display: flex;
			flex-direction: column;
			column-gap: var(--space-2);
		}
		.form-label {
			flex: 1;
		}
		.label-modal {
			flex: none;
			margin-bottom: var(--space-2);
		}
		.form-input {
			padding: var(--space-2-5);
			width: var(--sizes-full);
			background-color: var(--gray-950);
			border: var(--sizes-0-5) solid var(--gray-800);
			border-radius: var(--radii-md);
			&:focus,
			&:active {
				border-color: var(--green-500);
			}
		}
		.form-select {
			appearance: auto;
		}
		.form-buttons {
			flex-direction: row;
		}
	}

	& .product--content {
		padding: var(--space-4);
		overflow: hidden;
	}

	& .product--container {
		overflow-x: auto;
		border: var(--sizes-0-5) solid var(--gray-800);
		border-radius: var(--radii-md);
	}

	& .header {
		--columns: 4;
		display: grid;
		grid-template-columns: 100px repeat(var(--columns), minmax(0, 1fr)) 100px;
		text-align: center;
		font-family: var(--heading-font);
		font-size: var(--fontSizes-sm);
		background: var(--gray-800);
		min-width: 1000px;

		& .header-item {
			padding: var(--space-2);
		}
	}

	& .product--list {
		max-height: var(--sizes-lg);
		overflow-y: auto;
		min-width: 1000px;
	}

	& .product--item {
		--columns: 4;
		display: grid;
		grid-template-columns: 100px repeat(var(--columns), minmax(0, 1fr)) 100px;
		text-align: center;
		font-size: var(--fontSizes-sm);

		&:not(:last-child) {
			border-bottom: var(--sizes-0-5) solid var(--gray-800);
		}
		&:hover {
			background-color: var(--gray-900);
			transition: var(--transition-property-colors),
				var(--transition-easing-ease-in-out), var(--transition-duration-300);
		}
		& > div {
			&:not(:last-child) {
				border-right: var(--sizes-0-5) solid var(--gray-800);
			}
			padding: var(--space-2-5);
		}
		& .code {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}

		& .product-action {
			display: flex;
			justify-content: space-between;
			align-items: center;
			column-gap: var(--space-2);
		}

		& .product-btn {
			font-size: var(--fontSizes-2xs);
			line-height: 0;
			padding: var(--space-0-5) var(--space-0-5);
		}
	}
}

.modal {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: var(--zIndices-modal);
	background-color: rgba(0, 0, 0, 0.8);
	transform-origin: top;
	overflow: hidden;
	top: 100%;
	width: var(--sizes-full);
	height: var(--sizes-full);
	transform: translateY(100%) scale(0);
	transition: var(--transition-property-common),
		var(--transition-easing-ease-in-out), var(--transition-duration-300);
	&.open {
		top: 0;
		transform: translateY(0) scale(1);
	}
}
