.dashboard {
	min-height: 100vh;
	display: grid;
	grid-template-columns: 200px 1fr;
}

.sidebar {
	background: var(--gray-900);
}

.container {
	background: var(--gray-950);
	overflow: hidden;
}

.content {
	height: var(--sizes-full);
	width: var(--sizes-full);
	transition: var(--transition-property-common),
		var(--transition-easing-ease-in-out), var(--transition-duration-200);
}
