/* --------------- Font family --------------- */
$heading-bold-font: "/assets/fonts/Inter-Bold";
$main-font: "/assets/fonts/Manrope-Regular";

@font-face {
	font-family: "Inter";
	font-weight: bold;
	font-display: swap;
	src: local("Inter"), url("#{$heading-bold-font}.woff2") format("woff2"),
		url("#{$heading-bold-font}.woff") format("woff"),
		url("#{$heading-bold-font}.ttf") format("truetype");
}

@font-face {
	font-family: "Manrope";
	font-weight: 400;
	font-display: swap;
	src: local("Manrope"), url("#{$main-font}.woff2") format("woff2"),
		url("#{$main-font}.woff") format("woff"),
		url("#{$main-font}.ttf") format("truetype");
}

:root {
	--heading-font: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";

	--main-font: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
}
