.container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--space-4);
}

.ticket {
	width: var(--sizes-full);
	min-width: var(--sizes-20);
	max-width: var(--sizes-lg);
	padding: var(--space-6) var(--space-8);
	background: var(--gray-900);
	border-radius: var(--radii-md);

	&__header,
	&__head,
	&__footer {
		font-family: var(--heading-font);
	}

	&__header,
	&__head,
	&__products,
	&__product-item,
	&__total {
		display: flex;
	}
	&__header {
		flex-direction: column;
		justify-content: space-between;
		column-gap: var(--space-2);
	}
	&__header-title {
		text-align: center;
		text-transform: uppercase;
		padding: var(--space-2) 0;
	}
	&__author {
		padding: var(--space-2) 0;
	}
	&__author-name,
	&__date {
		font-family: var(--main-font);
		margin-left: var(--space-2);
	}
	&__author-name {
		color: var(--persian-blue-300);
	}
	&__content {
		font-size: var(--fontSizes-sm);
	}
	&__head,
	&__products {
		justify-content: center;
		row-gap: var(--space-2);
		padding: var(--space-2) 0;
	}
	&__head-title,
	&__product-title {
		flex: 2;
	}
	&__head-amount,
	&__head-price,
	&__product-amount,
	&__product-price {
		--size: 60px;
		flex: 1;
		text-align: right;
		min-width: var(--size);
	}
	&__head-price,
	&__product-price {
		--size: 120px;
	}
	&__products {
		flex-direction: column;
	}
	&__product-item {
		column-gap: var(--space-2);
		flex-wrap: wrap;
	}
	&__product-item,
	&__total {
		justify-content: space-between;
		align-items: center;
	}
	&__footer {
		padding-top: var(--space-2);
		font-size: var(--fontSizes-xl);
	}
}
