<div class="container">
	@if (currentOrder) {
	<div class="ticket">
		<header class="ticket__header">
			<!-- Title -->
			<div class="ticket__header-title">
				<h2 class="ticket__title">Factura Electrónica</h2>
				<p class="ticket__code">{{ currentOrder.code }}</p>
			</div>
			<hr class="rule" />

			<!-- User Details -->
			<div class="ticket__author">
				<p>
					Señor(es):
					<span class="ticket__author-name">{{ currentOrder.client }}</span>
				</p>
				<!-- ruc -->
				<!-- fecha -->
				<p>
					Fecha:
					<span class="ticket__date">{{ currentDate | date : "short" }}</span>
				</p>
			</div>
		</header>

		<hr class="rule" />

		<div class="ticket__content">
			<!-- header -->
			<div class="ticket__head">
				<p class="ticket__head-title">Producto</p>
				<p class="ticket__head-amount">Cant.</p>
				<p class="ticket__head-price">Precio</p>
			</div>

			<hr class="rule" />

			<!-- list -->
			<div class="ticket__products">
				@for (order of currentOrder.products; track order.product.id) {
				<div class="ticket__product-item">
					<p class="ticket__product-title">{{ order.product.title }}</p>
					<p class="ticket__product-amount">{{ order.quantity }}</p>
					<p class="ticket__product-price">{{ order.product.price }}</p>
				</div>
				}
			</div>

			<hr class="rule" />

			<footer class="ticket__footer">
				<p class="ticket__total">
					<span>Total: </span><span>{{ currentOrder.total | currency }}</span>
				</p>
			</footer>
		</div>
	</div>

	<div class="navegation">
		<button
			class="button primary navegation__button--home"
			[ngClass]="{ disable: toPrint }"
			(click)="returnHome()"
		>
			Volver
		</button>

		<button
			class="button primary navegation__button--print"
			[ngClass]="{ disable: toPrint }"
			(click)="printTicket()"
		>
			Imprimir Boleta
		</button>
	</div>
	} @else {
	<div>No hay pedido</div>
	}
</div>
